<header>
    <!-- <p-menubar [model]="menuItems" /> -->
     <p-tabs value="0">
        <p-tablist>
            <p-tab value="0" (click)="selectTab(0)">Skin matcher</p-tab>
            <p-tab value="1" (click)="selectTab(1)">Questions</p-tab>
            <p-tab value="2" (click)="selectTab(2)">Your skins</p-tab>
        </p-tablist>
     </p-tabs>
</header>

@if (selectedTab === 0) {
    <section class="content-wrap">
        <div>
            <div class="select-area">
                <!-- <p-multiselect
                    [options]="champList"
                    [(ngModel)]="selectedChampions"
                    (onChange)="selectChange($event)"
                    placeholder="Select a champion"
                    class="multiselect"
                /> -->
                <div class="listbox-area">
                    <p-iconfield>
                        <p-inputicon class="pi pi-search" />
                        <input type="text" #searchInput pInputText placeholder="Search" [(ngModel)]="searchStr" (input)="searchChange()" />
                    </p-iconfield>
                    <p-listbox 
                        [options]="filteredChampList"
                        [(ngModel)]="selectedChampions"
                        [multiple]="true" 
                        [checkbox]="true" 
                        optionLabel="label"
                        (onChange)="selectChange($event)" 
                    />
                </div>
                <div class="select-toolbar-area">
                    @if (selectedChampions.length) {
                        <p-button class="clear-button" (onClick)="clearChampSelection()">
                            <i class="pi pi-trash"></i>
                        </p-button>
                    }
                    <div class="checkbox-area">
                        <p-checkbox [binary]="true" (onChange)="showLegacyChange($event)"/>
                        <label >Show legacy</label>
                    </div>
                </div>
            </div>
            <!-- @let skins = skins$ | async; -->
            @if (selectedChampions.length > 1) {
                <div class="tree-area">
                    <p-tree [value]="skins$ | async">
                        <ng-template let-node pTemplate="default">
                            <span>{{ node.label }}</span>
                            @if (node.data?.accounts?.length) {
                                <span class="account-name" *ngFor="let account of node.data.accounts" 
                                    [ngStyle]="{'color': getNodeColor(account)}">{{ account }}</span>
                            }
                        </ng-template>
                    </p-tree>
                </div>
            }
        </div>
    </section>
}

@if (selectedTab === 1) {

    <p-dialog [header]="answerState === 'correct' ? 'Correct' : 'Wrong'" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '25rem' }">
        @if (answerState === 'correct') {
            <div class="dialog-main-content">
                <i class="pi pi-face-smile dialog-icon"></i>
                <div class="dialog-message">You are the best!</div>
            </div>
            <div class="dialog-buttons">
                <p-button label="Next" (click)="onClickDialogNext()" />
            </div>
        } @else {
            <div class="dialog-main-content">
                <i class="pi pi-ban dialog-icon"></i>
                <div class="dialog-message">Nope.</div>
            </div>
            <div class="dialog-buttons">
                <p-button label="Ok" (click)="dialogVisible = false" />
            </div>
        }
    </p-dialog>

    <section class="content-wrap">
        <form (ngSubmit)="submitAnswer()">
            <!-- <div class="button-area">
                <p-button (onClick)="generateRandom()">Generate question</p-button>
            </div> -->
            @if (questionActive) {
                <div class="random-question-area">
                    <!-- {{ getRandomSkinName() }}
                    {{ getRandomChampionName() }} -->
                    <span class="question-title"> Guess a collection with following champions: </span>
                    <p-divider />
                    <div class="question-champions">
                            <!-- @for (skin of getTrimmedQuestionData(); track skin.champ)  { -->
                                <div class="question-champion-item" *ngFor="let skin of questionData">{{ skin.champ.label }}</div>
                            <!-- } -->
                    </div>
                </div>
                @if (!showAnswer && answerState !== 'correct') {
                    <div class="input-area">
                        <input type="text" name="answer" placeholder="Enter your answer" pInputText [(ngModel)]="answer"/>
                    </div>
                } @else {
                    <div class="answer-message-area">
                        <!-- @if (answerState === 'correct') {
                            <span class="message-correct">Congratulations! Your answer is correct!</span>
                        } @else if (answerState === 'incorrect') {
                            <span class="message-incorrect">Wrong answer.</span>
                        } @else if (showAnswer) {
                            {{ getCorrectAnswer() }}
                        } -->
                        <!-- @if (showAnswer) { -->
                            {{ getCorrectAnswer() }}
                        <!-- } -->
                    </div>
                }
            }
            <!-- <p-divider /> -->
            <div class="button-area">
                @if (answer && !showAnswer && answerState !== 'correct') {
                    <p-button class="submit-button" (onClick)="submitAnswer()">Submit</p-button>
                }
                @if (questionActive && !showAnswer && answerState !== 'correct') {
                    <p-button class="show-answer-button" (onClick)="clickShowAnswer()">Show answer</p-button>
                }
                <p-button (onClick)="generateRandom()">{{ questionActive ? 'Next' : 'Generate question' }}</p-button>
            </div>
        </form>
    </section>
}

@if (selectedTab === 2) {

    <p-dialog header="New account" [modal]="true" [(visible)]="accountDialogVisible" [style]="{ width: '25rem' }">
        <div class="dialog-main-content">
            <div class="input-area">
                <input type="text" name="answer" placeholder="Add account" pInputText [(ngModel)]="newAccountName"/>
            </div>
        </div>
        <div class="dialog-buttons account-dialog-buttons">
            <p-button label="Cancel" (click)="accountDialogVisible = false" />
            <p-button label="Ok" (click)="addAccount()" />
        </div>
    </p-dialog>

    <section class="content-wrap">
        <div class="content-top">
            <p-button class="clear-button" (onClick)="openAccountDialog()">
                <i class="pi pi-plus"></i>
                <!-- <span>Add</span> -->
            </p-button>
            <div class="listbox-area">
                <p-listbox 
                    class="single-select-listbox"
                    [options]="accountList"
                    [(ngModel)]="selectedAccount"
                    [multiple]="false"
                    [filter]="true"
                    optionLabel="name"
                    (onChange)="selectedAccountChange($event)" 
                />
                @if (selectedAccount) {
                    <p-listbox 
                        class="single-select-listbox"
                        [options]="champList"
                        [(ngModel)]="selectedAccountChampion"
                        [multiple]="false"
                        [filter]="true"
                        optionLabel="label"
                        (onChange)="selectedChampionChange($event)" 
                    />
                }
            </div>
        </div>
        <div class="content-bottom">
            @if (selectedAccount && selectedAccountChampion) {
                <p-listbox
                    class="listbox-your-champion-skins" 
                    [options]="accountSkinList"
                    [(ngModel)]="selectedAccountSkins"
                    [multiple]="true" 
                    [checkbox]="true"
                    [filter]="true"
                    optionLabel="name"
                    (onClick)="selectedSkinsChange($event)"
                />
            }
        </div>
    </section>
}
