<header>
     <p-tabs value="0">
        <p-tablist>
            <p-tab value="0" (click)="selectTab(0)">Skin matcher</p-tab>
            <p-tab value="1" (click)="selectTab(1)">Questions</p-tab>
            <p-tab value="2" (click)="selectTab(2)">Your skins</p-tab>
            <p-tab value="3" (click)="selectTab(3)">Info</p-tab>
        </p-tablist>
     </p-tabs>
</header>

@switch (selectedTab) {
    
    @case (0) {
        <app-skin-matcher [champList]="champList" [accountList]="accountList"></app-skin-matcher>
    }

    @case (1) {

        <p-dialog [header]="answerState === 'correct' ? 'Correct' : 'Wrong'" [modal]="true" [(visible)]="questionDialogVisible" [style]="{ width: '25rem' }">
            @if (answerState === 'correct') {
                <div class="dialog-main-content">
                    <i class="pi pi-face-smile dialog-icon"></i>
                    <div class="dialog-message">You are the best!</div>
                </div>
                <div class="dialog-buttons">
                    <p-button label="Next" (click)="onClickDialogNext()" />
                </div>
            } @else {
                <div class="dialog-main-content">
                    <i class="pi pi-ban dialog-icon"></i>
                    <div class="dialog-message">Nope.</div>
                </div>
                <div class="dialog-buttons">
                    <p-button label="Ok" (click)="questionDialogVisible = false" />
                </div>
            }
        </p-dialog>

        <section class="tab-content" id="questions-tab">
            <form (ngSubmit)="submitAnswer()">
                @if (questionActive) {
                    <div class="random-question-area">
                        <span class="question-title"> Guess a collection with following champions: </span>
                        <p-divider />
                        <div class="question-champions">
                                <!-- @for (skin of getTrimmedQuestionData(); track skin.champ)  { -->
                                    <div class="question-champion-item" *ngFor="let skin of questionData">{{ skin.champ.name }}</div>
                                <!-- } -->
                        </div>
                    </div>
                    @if (!showAnswer && answerState !== 'correct') {
                        <div class="input-area">
                            <input type="text" name="answer" placeholder="Enter your answer" pInputText [(ngModel)]="answer"/>
                        </div>
                    } @else {
                        <div class="answer-message-area">
                            <!-- @if (showAnswer) { -->
                                {{ correctAnswer() }}
                            <!-- } -->
                        </div>
                    }
                }
                <!-- <p-divider /> -->
                <div class="button-area">
                    @if (answer && !showAnswer && answerState !== 'correct') {
                        <p-button class="submit-button" (onClick)="submitAnswer()">Submit</p-button>
                    }
                    @if (questionActive && !showAnswer && answerState !== 'correct') {
                        <p-button class="show-answer-button" (onClick)="clickShowAnswer()">Show answer</p-button>
                    }
                    <p-button (onClick)="generateRandom()">{{ questionActive ? 'Next' : 'Generate question' }}</p-button>
                </div>
            </form>
        </section>
    }

    @case (2) {

        <p-dialog header="New account" [modal]="true" [(visible)]="accountDialogVisible" [style]="{ width: '25rem' }">
            <div class="dialog-main-content">
                <div class="input-area">
                    <input type="text" name="answer" placeholder="Accout name" pInputText [(ngModel)]="newAccountName"/>
                </div>
            </div>
            <div class="dialog-buttons account-dialog-buttons">
                <p-button label="Cancel" (click)="accountDialogVisible = false" />
                <p-button label="Ok" (click)="addAccount()" />
            </div>
        </p-dialog>

        <section class="tab-content" id="your-skins-tab">
            <div class="content-top">
                <div class="account-buttons-area">
                    <p-button class="square-button" (onClick)="openAccountDialog()">
                        <i class="pi pi-plus"></i>
                        <!-- <span>Add</span> -->
                    </p-button>
                    @if (selectedAccount) {
                        <input class="color-input" type="color" [value]="selectedAccount.color" (change)="onAccountColorChange($event)" />
                    }
                </div>
                <div class="listbox-area">
                    <p-listbox 
                        class="single-select-listbox"
                        [options]="accountList"
                        [(ngModel)]="selectedAccount"
                        [multiple]="false"
                        [filter]="true"
                        optionLabel="name"
                        (onChange)="onSelectAccount()" 
                    />
                    @if (selectedAccount) {
                        <p-listbox 
                            class="single-select-listbox"
                            [options]="champList"
                            [optionLabel]="'name'"
                            [(ngModel)]="selectedAccountChampion"
                            [multiple]="false"
                            [filter]="true"
                            optionLabel="label"
                            (onChange)="onChangeAccountChampions($event)" 
                        />
                    }
                </div>
            </div>
            <div class="content-bottom">
                @if (selectedAccount && selectedAccountChampion) {
                    <p-listbox
                        class="multi-select-listbox listbox-your-champion-skins" 
                        [options]="accountChampionSkins"
                        [(ngModel)]="selectedAccountChampionSkins"
                        [multiple]="true" 
                        [checkbox]="true"
                        [filter]="true"
                        optionLabel="name"
                        (onClick)="onChangeAccountChampionSkins($event)"
                    />
                }
            </div>
        </section>
    }

    @case (3) {
        <app-about></app-about>
    }
    
}
