/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

html {
    height: 100%;
}
body {
    background-color: #cdd4da;
    background: linear-gradient(42deg, #55567d 7%, #cdd4da 50%, #f5f3f4 81%);
}


@media screen and (max-width: 1000px) {
    html {
        height: initial;
    }
}